<% include ../layout/header %>
<div class="container" style="margin-top:30px;">

<div class="alert alert-dismissible alert-success">
  <button type="button" class="close" data-dismiss="alert">&times;</button>
  <p><i class="fa fa-exclamation-triangle" aria-hidden="true"></i>
 Votre article a été supprimé<i class="fa fa-exclamation-triangle" aria-hidden="true"></i>
</p>
</div>
<% include ../layout/js %>